<script src="https://cdn.plyr.io/3.6.8/plyr.polyfilled.js"></script>
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
<link
  rel="stylesheet"
  href="https://unpkg.com/tailwindcss@latest/dist/base.min.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/tailwindcss@latest/dist/components.min.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/@tailwindcss/typography@latest/dist/typography.min.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/tailwindcss@latest/dist/utilities.min.css"
/>

<article class="py-16 px-6 sm:px-8">
  <header>
    <h1 class="flex flex-col items-center">
      <a class="text-indigo-600 font-semibold tracking-wide uppercase" href="/"
        >Story</a
      >
      <span
        class="
          mt-2
          text-3xl
          font-extrabold
          tracking-tight
          text-gray-900
          sm:text-4xl
        "
        >{{ title }}</span
      >
    </h1>
    <hr class="mt-8 border-t-2 w-20 mx-auto" />
  </header>

  <div class="mt-8 mx-auto prose prose-indigo md:prose-lg lg:prose-xl">
    <!-- Content Here -->
    {% if audio %}
    <audio id="player" controls>
      <source src="{{ audio }}" />
      Your browser does not support the audio element.
    </audio>
    <script>
      const player = new Plyr("#player");
    </script>
    {% else %}
    <p class="md:max-w-md sm:text-lg lg:text-2xl md:max-w-3xl md:text-center">
      No audio for this story
    </p>
    {% endif %} {{ content }}
  </div>
</article>
