<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- Section 1 -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>AniKode Downloaded File
</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" />
<section class="bg-white">
	<div class="rounded-t-xl overflow-hidden bg-gradient-to-r from-purple-50 to-purple-100 p-10">
		<p class="text-center font-flow leading-5 text-3xl text-purple-600">Made With AniKode</p>
	</div>
	<div class="absolute w-full h-52 bg-gradient-to-b from-gray-100 to-white"></div>
	<div class="
      relative
      w-full
      px-5
      py-10
      mx-auto
      sm:py-12
      md:py-16 md:px-10
      max-w-7xl
    ">
		<h1 class="
        mb-1
        text-4xl
        font-extrabold
        leading-none
        text-gray-900
        lg:text-5xl
        xl:text-6xl
        sm:mb-3
      ">
			<p class="text-center text-lg font-medium text-white-500 sm:text-2xl">You searched: {{ query }}</p>
			<a href="/home" id="iym45">AniStories</a>
		</h1>
		<p class="text-lg font-medium text-gray-500 sm:text-2xl">
			Kids stories for free
		</p>
	</div>

	<div class="w-full px-5 py-6 mx-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-7xl">
		<div class="flex flex-col items-center sm:px-5 md:flex-row">
			<div class="w-full md:w-1-2">
				<a href="{{ storyList[0].link }}" class="block"><img src="{{ storyList[0].thumbnail }}" /></a>
            </div>
            <div class="flex flex-col items-start justify-center w-full h-full py-6 mb-6 md:mb-0 md:w-1-2">
                <div
                    class="flex flex-col items-start justify-center h-full space-y-3 transform md:pl-10 lg:pl-16 md:space-y-5">
                    <div
                        class="bg-pink-500 flex items-center pl-2 pr-3 py-1-5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block">
                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                            class="w-3-5 h-3-5 mr-1">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg>
                        <span id="iw4r2">First</span>
                    </div>
                    <h1 class="text-4xl font-bold leading-none lg:text-5xl xl:text-6xl">
                        <a href="{{ storyList[0].link }}" id="ilj58">{{storyList[0].title }}</a>
                    </h1>
                    <p class="pt-2 text-sm font-medium">
                        <span id="icw4q" draggable="true" data-highlightable="1"
                            class="mx-1 text-gray-600 gjs-selected">Powered by StoryNory - {{storyList[0].title }}</span>
                    </p>
                </div>
            </div>
        </div>
        {% for story in storyList %}
		{% if story.title != storyList[0].title  %}
        <div class="flex grid grid-cols-12 pb-10 sm:px-5 gap-x-8 gap-y-16">
            <div class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4">
                <a href="{{ story.link }}" class="block"><img src="{{ story.thumbnail }}"
                        class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56" /></a>
                <h2 class="text-lg font-bold sm:text-xl md:text-2xl">
                    <a href="{{ story.link }}">{{ story.title }}</a>
                </h2>
                <p class="text-sm text-gray-500">Powered by StoryNory - {{ story.title }}
                </p>
            </div>
        </div>
		{% endif %}
        {% endfor %}
        <div class="flex justify-evenly">
            <a onclick="location.href = parseInt(location.href.split('/')[4]) + 1 + '?' + location.href.split('?')[1]"
                class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow hover:bg-indigo-700">Next</a>
            <a onclick="location.href = parseInt(location.href.split('/')[4]) - 1 + '?' + location.href.split('?')[1]"
                class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-indigo-700 bg-indigo-100 border border-transparent rounded-md hover:bg-indigo-200">Prev</a>
        </div>
</section>
<!-- AlpineJS Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.0/alpine.js"></script>
